@model BookStore.Models.SACH

@{
    ViewBag.Title = "Xacnhanxoa";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Xacnhanxoa</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:30px">
        <dt>
            Tên sách:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tensach)
        </dd>
        <dt>
            Giá bán:
        </dt>

        <dd>
            @String.Format("{0:0,0 }", Model.Dongia) VNĐ
        </dd>

        <dt>
            Mô tả:
        </dt>

        <dd style="width:600px; text-align:justify">
            @Html.DisplayFor(Model => Model.Mota)
        </dd>

        <dt>
            Ảnh bìa
        </dt>

        <dd>
            <img src="@Url.Content("~/img/"+Model.Hinhminhhoa)" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaCD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaCD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNXB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNXB)
        </dd>

        <dt>
            Ngày cập nhật:
        </dt>

        <dd>
            @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Soluongban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soluongban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.solanxem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.solanxem)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.moi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.moi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xoa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
